:root{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
}

body {
    background-color: slategrey;
}

.bracket-title{
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: 700;
    color: white;
}

.bracket-wrapper{
    display: flex;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em auto;
    align-items: center;
    margin: 0 .5em;
}

.grid-header{
    color: white;
    text-align: center;
    font-size: 1.1em;
}

.round-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    border-radius: .5em;
    margin: .5em 0;
    font-size: .8em;
}

.team-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-radius: .25em;
    padding-left: .5em;
    white-space: nowrap;
}

.team-wrapper > .team {
    margin-right: 1em;
}

.team-wrapper > .score {
    font-weight: 700;
    font-size: 1.2em;
    padding: .1em .2em;
    border-radius: .25em;
    margin: .05em .2em;
    background-color: rgba(0, 0, 0, 0.068);
}

.winner {
    color: darkblue;
}