.elim-bracket-wrapper{
    display: flex;
    width: fit-content;
}

.elim-bracket-wrapper:not(:first-child){
    margin-top: 1em;
}

.elim-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5em auto;
    align-items: center;
    margin: 0 .5em;
}

.elim-grid-wrapper > .grid-header{
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.elim-round-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: white;
    font-size: .8em;
    margin: .08em 0;
}

.elim-round-wrapper > .team-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: .25rem;
    white-space: nowrap;
    min-width: 8em;
}

.elim-round-wrapper > .team-wrapper:first-child{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.elim-round-wrapper > .team-wrapper > .team {
    margin-right: 1em;
}

.elim-round-wrapper > .team-wrapper > .score {
    font-weight: 700;
    padding: .1em 0;
    width: 2ch;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.068);
}



.group-bracket-wrapper {
    display: flex;
    flex-direction: column;
}

.group-bracket-wrapper > .group-header {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: .1em;
}

.group-round-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 5px;
    font-size: 1em;
}

.group-round-wrapper > .team-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-round-wrapper > .team-wrapper:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.group-round-wrapper > .team-wrapper > .team {
    width: 250px;
}

.group-round-wrapper > .team-wrapper:first-child > .team {
    text-align: right;
}

.group-round-wrapper > .team-wrapper > .score {
    margin: 0 10px;
    padding: .1rem 0;
    width: 2.5ch;
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.068);
}


.roundrobin-bracket-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.roundrobin-bracket-wrapper > .group-bracket-wrapper {
    margin: 0 15px;
}


.winner {
    color: darkgoldenrod;
    font-weight: bold;
}

.elim-third{
    position: absolute;
    align-self: flex-end;
}
.elim-third::before{
    content: "Third Place";
    background-color: rgba(0, 0, 0, 0.068);
    color: grey;
    font-size: .6em;
    padding: .05rem .25rem;
}

div[data-round-status="finished"]{
    background: rgb(252, 249, 244)
}

div[data-round-status="in-progress"]{
    box-shadow: 0 0 6px rgb(177, 144, 92)

}

div[data-round-status="not-started"]{
    background: #b3b3b3;
}