.elim-bracket-wrapper{
    display: flex;
    width: fit-content;
}

.elim-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em auto;
    align-items: center;
    margin: 0 .5em;
}

.elim-grid-wrapper > .grid-header{
    color: white;
    text-align: center;
    font-size: 1.1em;
}

.elim-round-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    border-radius: .5em;
    margin: .5em 0;
    font-size: .8em;
}

.elim-round-wrapper > .team-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-radius: .25em;
    padding-left: .5em;
    white-space: nowrap;
    min-width: 8em;
}

.elim-round-wrapper > .team-wrapper > .team {
    margin-right: 1em;
}

.elim-round-wrapper > .team-wrapper > .score {
    font-weight: 700;
    font-size: 1.2em;
    padding: .1em .2em;
    border-radius: .25em;
    margin: .05em .2em;
    background-color: rgba(0, 0, 0, 0.068);
}



.swiss-bracket-wrapper {
    display: flex;
    flex-direction: column;
}

.swiss-round-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: .5em;
    margin: .15em 0;
    font-size: 1em;
    padding: .1em .2em;
}

.swiss-round-wrapper > .team-wrapper {
    display: flex;
    flex-direction: row;
}

.swiss-round-wrapper > .team-wrapper:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.swiss-round-wrapper > .team-wrapper:first-child > .team {
    text-align: right;
}

.swiss-round-wrapper > .team-wrapper > .score {
    margin: 0 .5em;
    width: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.068);
}



.winner {
    color: blue;
}

.elim-third{
    position: absolute;
    align-self: flex-end;
}

div[data-round-status="finished"]{
    background: rgb(242, 252, 255);
}

div[data-round-status="in-progress"]{
    box-shadow: 0 0 8px rgba(0, 0, 255, 0.582);
}

div[data-round-status="not-started"]{
    opacity: .6;
}